.container {
    min-height: 100%;
    min-width: 100%;
    background-image: url(../../../assets/img/background-reg.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.mat-card {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0.8;
}

.mat-form-field {
    width: 100%;
    margin-top: 2%;
}

.title {
    text-align: center;
    margin-bottom: 3%;
    color: rgb(51, 51, 51);
}

.submit-button {
    margin-top: 5%;
    color: white;
    background-color: rgb(237, 31, 36); 
}


