<h1 class="title">WHAT WE DO</h1>
<mat-grid-list cols="2" rowHeight="1:1" fxShow="true" fxHide.lt-md="true">
  <mat-grid-tile>
    <img class="image" src="../../../assets/img/portfolio-img/consulting.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="description">
      <h3 class="subtitle">Engineering and Consulting Services</h3>
      <p>
        Our clients can be confident that we will develop a sound decision-making basis and
        will assist them in all aspects of handling their projects up to a successful conclusion.
        Acting as owner’s engineer, we provide planning and consultancy services for
        infrastructure projects throughout the entire project lifecycle.
      </p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="description">
      <h3 class="subtitle">Analysis and Conceptual Design</h3>
      <p>
          We transform your project idea into a draft project layout and check through the
          options on the basis of various realization concepts. We investigate technical
          feasibility and financial viability to provide the basis for potential project funding
          commitments.
      </p>
      <br>
      <p class="list-title">Our range of services in this project phase:</p>
      <ul>
        <li>market analyses</li>
        <li>concept studies</li>
        <li>feasibility studies</li>
        <li>environmental impact assessments</li>
        <li>siting studies and site investigations</li>
        <li>techno-economic analyses</li>
        <li>due diligences</li>
        <li>master plans</li>
        <li>integrated infrastructure concepts</li>
        <li>plant concepts</li>
        <li>preliminary design and conceptual engineering</li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img class="image" src="../../../assets/img/portfolio-img/analysis.jpg">
  </mat-grid-tile>

  <mat-grid-tile>
    <img class="image" src="../../../assets/img/portfolio-img/contract.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="description">
      <h3 class="subtitle">Engineering and Contract Award</h3>
      <p>
        Based on our preliminary planning and conceptual engineering, we first draw up
        basic planning documents and compile the permit application. The aim of detail
        engineering is then to prepare the tender documents, either for contract award in lots
        or for appointing a general contractor. To ensure procurement to the required quality
        and at reasonable cost within the specified timeframe, we also assist during
        tendering and contract award.
      </p>
      <br>
      <p class="list-title">Our range of services in this project phase:</p>
      <ul>
        <li>complete planning services</li>
        <li>layout planning</li>
        <li>selection of technology</li>
        <li>detail engineering</li>
        <li>drawing up technical specifications</li>
        <li>compilation of tender documents</li>
        <li>evaluation and comparison of bids</li>
        <li>assistance during contract negotiations</li>
        <li>recommendation for contract award</li>      
        <li>contract formulation</li>
      </ul>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="description">
      <h3 class="subtitle">Implementation</h3>
      <p>
        During project realization, alongside project management we undertake all typical
        site supervision tasks, like expediting and budgetary control, overseeing construction
        and installation, and quality control.
      </p>
      <br>
      <p class="list-title">Our range of services in this project phase:</p>
      <ul>
        <li>project management</li>
        <li>project governance and interface coordination</li>
        <li>checking technical project execution with quality control</li>
        <li>check of drawings</li>
        <li>construction oversight, site supervision and specialist supervision</li>
        <li>overseeing shop and final acceptance tests</li>
        <li>coordinating commissioning</li>
        <li>supervising commissioning and trial operation</li>
        <li>verifying plant output and performance</li>
        <li>compiling documentation</li>
        <li>warranty support</li>
        <li>safety analyses</li>
        <li>coordinating workplace health and safety</li>
        <li>training of operating staff</li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img class="image" src="../../../assets/img/portfolio-img/implementation.png">
  </mat-grid-tile>

  <mat-grid-tile>
    <img class="image" src="../../../assets/img/portfolio-img/studies.jpg">
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="description">
      <h3 class="subtitle">Power System Studies</h3>
      <p>
        We provide wide range of power system studies including utilizing all main software
        as PSSE, DIgSILENT and ETAP.
        We also provide wide range of market analysis utilizing PLEXOS software.
      </p>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<!-- ----------------------------------------------------------------------------------------------------------- -->

<div cols="1" rowHeight="1:1" fxShow="true" fxHide.gt-sm="true">

  <img class="image" src="../../../assets/img/portfolio-img/consulting.jpg">
  <div class="description">
    <h3 class="subtitle">Engineering and Consulting Services</h3>
    <p>
      Our clients can be confident that we will develop a sound decision-making basis and
      will assist them in all aspects of handling their projects up to a successful conclusion.
      Acting as owner’s engineer, we provide planning and consultancy services for
      infrastructure projects throughout the entire project lifecycle.
    </p>
  </div>

  <img class="image" src="../../../assets/img/portfolio-img/analysis.jpg">
  <div class="description">
    <h3 class="subtitle">Analysis and Conceptual Design</h3>
    <p>
      We transform your project idea into a draft project layout and check through the
      options on the basis of various realization concepts. We investigate technical
      feasibility and financial viability to provide the basis for potential project funding
      commitments.
    </p>
    <br>
    <p class="list-title">Our range of services in this project phase:</p>
    <ul>
      <li>market analyses</li>
      <li>concept studies</li>
      <li>feasibility studies</li>
      <li>environmental impact assessments</li>
      <li>siting studies and site investigations</li>
      <li>techno-economic analyses</li>
      <li>due diligences</li>
      <li>master plans</li>
      <li>integrated infrastructure concepts</li>
      <li>plant concepts</li>
      <li>preliminary design and conceptual engineering</li>
    </ul>
  </div>

  <img class="image" src="../../../assets/img/portfolio-img/contract.jpg">
  <div class="description">
    <h3 class="subtitle">Engineering and Contract Award</h3>
    <p>
      Based on our preliminary planning and conceptual engineering, we first draw up
      basic planning documents and compile the permit application. The aim of detail
      engineering is then to prepare the tender documents, either for contract award in lots
      or for appointing a general contractor. To ensure procurement to the required quality
      and at reasonable cost within the specified timeframe, we also assist during
      tendering and contract award.
    </p>
    <br>
    <p class="list-title">Our range of services in this project phase:</p>
    <ul>
      <li>complete planning services</li>
      <li>layout planning</li>
      <li>selection of technology</li>
      <li>detail engineering</li>
      <li>drawing up technical specifications</li>
      <li>compilation of tender documents</li>
      <li>evaluation and comparison of bids</li>
      <li>assistance during contract negotiations</li>
      <li>recommendation for contract award</li>
      <li>contract formulation</li>
    </ul>
  </div>

  <img class="image" src="../../../assets/img/portfolio-img/implementation.png">
  <div class="description">
    <h3 class="subtitle">Implementation</h3>
    <p>
      During project realization, alongside project management we undertake all typical
      site supervision tasks, like expediting and budgetary control, overseeing construction
      and installation, and quality control.
    </p>
    <br>
    <p class="list-title">Our range of services in this project phase:</p>
    <ul>
      <li>project management</li>
      <li>project governance and interface coordination</li>
      <li>checking technical project execution with quality control</li>
      <li>check of drawings</li>
      <li>construction oversight, site supervision and specialist supervision</li>
      <li>overseeing shop and final acceptance tests</li>
      <li>coordinating commissioning</li>
      <li>supervising commissioning and trial operation</li>
      <li>verifying plant output and performance</li>
      <li>compiling documentation</li>
      <li>warranty support</li>
      <li>safety analyses</li>
      <li>coordinating workplace health and safety</li>
      <li>training of operating staff</li>
    </ul>
  </div>

  <img class="image" src="../../../assets/img/portfolio-img/studies.jpg">
  <div class="description">
    <h3 class="subtitle">Power System Studies</h3>
    <p>
      We provide wide range of power system studies including utilizing all main software
      as PSSE, DIgSILENT and ETAP.
      We also provide wide range of market analysis utilizing PLEXOS software.
    </p>
  </div>

</div>