<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile class="image">
    <img class="image" src="../../../assets/img/about-img/draft.jpg" alt="img-1">
  </mat-grid-tile>
  <mat-grid-tile class="image">
    <img class="image" src="../../../assets/img/about-img/consulting.jpg" alt="img-2">
  </mat-grid-tile>
  <mat-grid-tile class="image">
    <img class="image" src="../../../assets/img/about-img/about-1.jpg" alt="img-3">
  </mat-grid-tile>
</mat-grid-list>

<h1 class="title">ABOUT US</h1>

<div class="description">
  <p>
    PBB Engineering is company founded in April 2018, with a goal to provide a
    comprehensive set of professional services integrated to meet the unique challenges
    associated with power energy transmission and distribution projects all over the
    world. 
  </p>
  <p class="p2">
    We offer comprehensive and interdisciplinary consultancy support for public and
    private sector infrastructure projects, with our key area of activity concerned with
    power transmission and distribution.
  </p>
  <p>
    We believe power infrastructure creates opportunity for everyone. Our clients in the
    public and private sectors count on us to take on the most complex challenges and
    pioneer innovative solutions in the power energy sector.
  </p>
  <p class="p4">
    Our Vision is to grow continuously in an ever-changing environment, providing an
    accurate professional service making theory a practical reality.
  </p>
  <p>  
    Our engineers have extensive experience working on wide range of projects in
    power transmission and distribution projects.
  </p>
</div>