/* 
.container {
    background-image: url(../../../assets/img/background-4.jpg);
    min-width: 100%;
    position: fixed; 
    background-size: 100%;
    background-size: cover; 
    background-position: center;
    left: 0;
    background-repeat: no-repeat;
}
*/