<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <img class="image" src="../../../assets/img/home-img/reindeer-1.jpg" alt="img-1">
  </mat-grid-tile>
  <mat-grid-tile>
    <img class="image" src="../../../assets/img/home-img/day-2.jpg" alt="img-2">
  </mat-grid-tile>
  <mat-grid-tile>
    <img class="image" src="../../../assets/img/home-img/day-3.png" alt="img-3">
  </mat-grid-tile>
  <mat-grid-tile>
    <img class="image" src="../../../assets/img/home-img/human-4.jpg" alt="img-4">
  </mat-grid-tile>
</mat-grid-list>

<h1 class="title">WELCOME</h1>

<div class="description">
  <p>
    We are small infrastructure firm, delivering professional services throughout the project lifecycle.
  </p>
  <p class="p2">
    We are designers, engineers, consultants and construction managers, dedicated to our clients and driven by a common goal to deliver a successful project completion
    and a better world.
  </p>
  <p>
    Main areas of our expertise are power transmission and distribution, but we also provide services in street lighting design, road design and architecture.
  </p>
</div>