.image {
    min-height: 100%;
    min-width: 100%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    margin-top: 3%;
}

.title, .p2 {
    color: rgb(237, 31, 36);
}

.description {
    margin: 2% 3% 5%;
    text-align: center;
    font-size: 25px;
}




