<h2 class="title" *ngIf="!isAdmin">
  <p>Dear user, WELCOME</p>
  <p class="welcome-message-2">We are glad that you use our software</p>
</h2>

<h5 class="title" *ngIf="isAdmin">
  <p>You are logged in as administrator</p>
</h5>

<mat-grid-list cols="1" rowHeight="9:2">
  <mat-grid-tile>
    <img src="../../../assets/img/software-img/software-1.jpg" alt="img">
  </mat-grid-tile>
</mat-grid-list>


<mat-accordion *ngIf="isAdmin" class="list-of-users">
  <mat-expansion-panel  (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>All users</b>
      </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState ? 'Hide users' : 'See all users' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <table mat-table [dataSource]="users">

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let user"> {{user.type}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
            <button *ngIf="user.type != 'admin'" mat-button class="delete-button" (click)="deleteUser(user._id)">Delete user</button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<p class="desription">
  On the form below, you can calculate earth potential rise in the vicinity of the earthing.<br> 
  Fill all fields. The file you upload must be .txt file that contains 6 columns and unlimited number of rows.<br>
  After submitting the form, the graph of calculated values will be displayed to you.
</p>

<form class="myForm" [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-margin">
    <mat-form-field appearance="outline">
      <mat-label>Earthing current (kA)</mat-label>
      <input matInput type="number" formControlName="IuzemljivacaEff" required/>
      <mat-error *ngIf="IuzemljivacaEff.errors?.required">This field is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Earth resistivity (ohm*m)</mat-label>
      <input matInput type="number" formControlName="roZemlje" required>
      <mat-error *ngIf="roZemlje.errors?.required">This field is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Earthing bar diameter (mm)</mat-label>
      <input matInput type="number" formControlName="dl" required>
      <mat-error *ngIf="dl.errors?.required">This field is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Plot distance from earthing (m)</mat-label>
      <input matInput type="number" formControlName="granicaUdaljenostiOdUzemljivaca" required>
      <mat-error *ngIf="granicaUdaljenostiOdUzemljivaca.errors?.required">This field is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Earth mesh point distance (m)</mat-label>
      <input matInput type="number" formControlName="korakMrezeNaZemlji" required>
      <mat-error *ngIf="korakMrezeNaZemlji.errors?.required">This field is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Human body resistivity (ohm)</mat-label>
      <input matInput type="number" formControlName="Rcoveka" required>
      <mat-error *ngIf="Rcoveka.errors?.required">This field is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Human foot diameter (cm)</mat-label>
      <input matInput type="number" formControlName="Dstopala" required>
      <mat-error *ngIf="Dstopala.errors?.required">This field is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Additional concrete layer resistivity (ohm)</mat-label>
      <input matInput type="number" formControlName="rotuc" required>
      <mat-error *ngIf="rotuc.errors?.required">This field is required</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Additional concrete layer thickness (ohm)</mat-label>
      <input matInput type="number" formControlName="ltuc" required>
      <mat-error *ngIf="ltuc.errors?.required">This field is required</mat-error>
    </mat-form-field>
  </div>
    
  <div class="file-input">
    <label class="file-input-label">Choose file with earthing data</label>
    <input type="file" (change)="pickFile($event)">
  </div>

  <button mat-button class="submit-button" mat-button type="submit">Submit</button>
</form>
