.myForm {
    margin: 5%;
}

div {
    margin: 22px 10px;
}

.label-style {
    margin-right: 10px;
}

.input-style {  
    width: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0.1px solid grey;
    border-radius: 4px;   
}

.submit-button {
    margin-top: 5%;
    color: white;
    background-color: rgb(237, 31, 36); 
} 