<form class="myForm">
  <table>
    <tr>
      <td>
        <label>First</label>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <label>Second</label>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <label>Third</label>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <label>File</label>
      </td>
      <td>
        <div>
          <input type="file">
        </div>
      </td>
    </tr>
  </table>

  
</form>