.title {
    text-align: center;
}

.welcome-message-2 {
    color: rgb(237, 31, 36);
}


mat-expansion-panel {
    margin: 4% 5%;
}

.example-container {
    height: 250px;
    overflow: auto;
  }
  
table {
    width: 100%;
}

.delete-button {
    color:  rgb(237, 31, 36);
}


/* form style */

.desription {
    margin: 5%;
}

.myForm {
    margin: 5%;
}

mat-form-field {
    width: 80%
}

.form-margin {
    max-width: 500px;
}

.file-input-label {
    margin-right: 10px;
}

.submit-button {
    margin-top: 5%;
    color: white;
    background-color: rgb(237, 31, 36); 
}

