<mat-toolbar>
  <span class="logo">LOGO</span>
  <span class="example-spacer"></span>
  <span class="list-of-links">
    <button class="link-button" mat-button>About</button>
    <button class="link-button" mat-button>Portfolio</button>
    <button class="link-button" mat-button>Healt and safety</button>
    <button class="link-button" mat-button>Contact</button>
    <!-- <span class="link-spacer"></span> -->
    <button class="link-button" mat-button>Software</button>
    <button class="link-button" mat-button routerLink='/login'>Login</button>
    <button class="link-button" mat-button routerLink='/registration'>Register</button>
  </span>
</mat-toolbar>
