/* .mat-toolbar {
    position: fixed;
    top: 0%
} */

.example-spacer {
    flex: 1 1 auto;
}

.link-button {
    color: red
}

.logo {
    margin-left: 3%;
}

.list-of-links {
    margin-right: 3%;
}

.link-spacer {
    margin-left: 4%;
    margin-right: 4%;
}

